<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Inda.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Inda.Properties.Settings>
            <setting name="LauncherStates" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsGameSetupped" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsJavaSetupped" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="firstrun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Arguments" serializeAs="String">
                <value>-XX:+UnlockExperimentalVMOptions -XX:+UseG1GC -XX:G1NewSizePercent=20 -XX:G1ReservePercent=20 -XX:MaxGCPauseMillis=50 -XX:G1HeapRegionSize=32M -XX:+DisableExplicitGC -XX:+AlwaysPreTouch -XX:+ParallelRefProcEnabled</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="RamMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RamMax" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UUID" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="AnimationSpeed" serializeAs="String">
                <value>0.12</value>
            </setting>
            <setting name="HideMainWindowWhenGameIsStarted" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Resolution" serializeAs="String">
                <value>854x480</value>
            </setting>
        </Inda.Properties.Settings>
    </userSettings>
</configuration>